@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

html, body {
  height: 100%;
  overflow: hidden;
}

@theme {
  --color-gray-50: #dfe4ea;
  --color-gray-100: #f7f9fc;
  --color-gray-300: #e2e7f0;
  --color-gray-400: #cbd2e0;
  --color-gray-500: #a0abc0;
  --color-gray-600: #717d96;
  --color-gray-800: #2d3648;
  --color-regular-100: #f1f5f9;
  --color-regular-200: #e2e8f0;
  --color-regular-300: #cbd5e1;
  --color-regular-400: #94a3b8;
  --color-regular-500: #64748b;
  --color-regular-600: #475569;
  --color-regular-700: #334155;
  --color-regular-800: #1e293b;
  --color-ice: #f6fbff;
  --color-success-300: #039855;
  --color-emphasis: #3de096;
  --color-active: #33c789;

  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}
